/******************************************
/* CSS
/*******************************************/


/* Box Model Hack */

* {
    box-sizing: border-box;
}


/******************************************
/* LAYOUT
/*******************************************/

img {
    display: block;
    padding-top: 150px;
    margin: 0 10px;
    width: 100%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/